input[type='radio'] {
    opacity: 0;
    height: 0;
    width: 0;
}

label {
    position: relative;
    display: inline-block;
    padding: 0 0 20px 25px;
}

label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    display: inline-block;
    background-color: #F8F8F8;
    height: 16px;
    width: 16px;
    border: solid 1px #CACACA;
    border-radius: 50%;
}

label::after {
    content: '';
    position: absolute;
    top: 7px;
    left: 5px;
    display: block;
    background-color: #333333;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    opacity: 0;
}

label:hover::before {
    background-color: #E9E9E9;
}

input[type='radio']:focus + label::before {
    border: solid 2px #5199DB;
    top: 1px;
    left: -1px;
}

input[type='radio']:focus + label::after {
    opacity: 100%;
}

label:active::before {
    background-color: #E0E0E0;
}

input[type='radio']:checked + label::after {
    opacity: 100%;
}

input[type='radio']:disabled + label {
    opacity: 50%;
}