.nav {
    padding: 10px;
}

a {
    color: #222222;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: #3072C4;
}

.active {
    font-weight: bold;
}

.active a:hover {
    color: #222222;
}

li {
    display: inline;
}

li:not(:last-child)::after {
    content: "♦";
    margin: 0 6px 0 15px;
}